<!DOCTYPE html>
<!--[if IEMobile 7 ]>    <html class="no-js iem7" ng-app> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js" ng-app  ng-controller="pageCtrl"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Typography | Simple CSS | AKQA</title>
    <meta name="author" content="AKQA Shanghai technology Team" />
    <meta name="copyright" content="AKQA Inc." />

    <meta name="keywords" content="AKQA" />
    <meta name="description" content="AKQA is an independent, ideas-led agency and we work with the world’s leading consumer brands." />


    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="cleartype" content="on">
    <meta name="msapplication-TileImage" content="/images/touch/apple-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#333333">
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />


    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/touch/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/touch/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/touch/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/touch/apple-touch-icon-57x57-precomposed.png">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <!-- CSS link here -->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>


<!-- hidden input -->
<div class="hidden-input">
    <input type="hidden" value="">
    <input type="hidden" value="">
</div>


<!-- html5 -->
<div class="wrapper">

    <aside>
    </aside>
    <nav>
        <a href="{{logo.link}}" class="logo" title="{{logo.name}}">{{logo.name}}</a>
        <input type="text" ng-model="search.name" placeholder="search the ex." class="search">
        <ul>
            <li ng-repeat="page in pages | filter:search:strict">
                <a href="{{page.link}}" title="{{page.name}}">{{page.name}}</a>
            </li>
        </ul>
    </nav>

    <main>
        <header>
            <div class="container">
                <h1 class="title">Typography</h1>
                <h2 class="describe">It help us fast write html and css.</h2>
            </div>
        </header>

        <article>


            <div class="container">
                <div class="pure-g">
                    <div class="pure-u-1">
                        <div>To keep Pure lean and extensible, we do not add any typographic styles over the foundational layer provided by Normalize. This means that you get headings with different sizes, blockquotes, lists, definition lists, and more, but their styles are minimal and easy to override.</div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="pure-g">
                    <div class="pure-u-1">
                        <h3 class="subtitle">Headings</h3>
                        <p>Headings run from h1 to h6 in decreasing size. Font sizes are defined in em.</p>
                        <table class="table alignc">
                            <tr>
                                <td>
                                    <h1>Headings<span class="regular color-primary">(xxlarge)</span></h1>
                                </td>
                                <td>
                                    <h2>Headings<span class="regular color-primary">(xlarge)</span></h2>
                                </td>
                                <td>
                                    <h3>Headings<span class="regular color-primary">(large)</span></h3>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Headings<span class="regular color-primary">(medium)</span></h4>
                                </td>
                                <td>
                                    <h5>Headings<span class="regular color-primary">(small)</span></h5>
                                </td>
                                <td>
                                    <h6>Headings<span class="regular color-primary">(xsmall)</span></h6>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="pure-g box-margin">
                    <div class="pure-u-1">
                        <h3 class="subtitle">Font Color</h3>
                        <table class="table alignc">
                            <tr>
                                <td>
                                    <p>color(main)</p>
                                </td>
                                <td>
                                    <p class="color-describe">color(describe)</p>
                                </td>
                                <td>
                                    <p class="color-stress">color(stress)</p>
                                </td>
                                <td>
                                    <p class="color-primary">color(primary)</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="color-success">color(success)</p>
                                </td>
                                <td>
                                    <p class="color-error">color(error)</p>
                                </td>
                                <td>
                                    <p class="color-info">color(info)</p>
                                </td>
                                <td>
                                    <p class="color-warning">color(warning)</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>


                <div class="pure-g box-margin">
                    <div class="pure-u-1">
                        <h3 class="subtitle">Emphasis</h3>
                        <table class="table">
                            <tr>
                                <td>
                                    <p><span class="color-primary">&lt;a&gt;</span><a href="##">The important thing in life is</a><span class="color-primary">&lt;/a&gt;</span> to have a great aim, and the determination to attain it.</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><span class="color-primary">&lt;a.link&gt;</span><a class="link" href="##">The important thing in life is</a> to have a great aim, and the determination to attain it.</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><span class="color-primary">&lt;strong&gt;</span><strong>The important thing in life is</strong> to have a great aim, and the determination to attain it.</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><span class="color-primary">&lt;small&gt;</span>The important thing in life is to have a great aim, <small>and the determination to attain it.</small></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><span class="color-primary">&lt;em&gt;</span>The important thing in life is <em>to have a great aim, and the determination to attain it.</em></p>
                                </td>
                            <tr>
                            <tr>
                                <td>
                                    <p><span class="color-primary">&lt;abbr&gt;</span>The important thing in life is to <abbr title="有一个伟大的目标">have a great aim</abbr>, and the determination to attain it.</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><span class="color-primary">&lt;ins&gt;</span>The important thing in life is to have a great aim, and the determination to <ins>attain it.</ins></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><span class="color-primary">&lt;del&gt;</span>The <del>important</del> thing in life is to have a great aim, and the determination to attain it.</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><span class="color-primary">&lt;mark&gt;</span><mark>The important thing</mark> in life is to have a great aim, and the determination to attain it.</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><span class="color-primary">&lt;sub&gt;</span>The important thing in life is to have a great aim, and the <sub>determination</sub> to attain it.</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><span class="color-primary">&lt;sup&gt;</span>The important thing in life is to have a great aim, and the <sup>determination</sup> to attain it.</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>


                <div class="pure-g box-margin">
                    <div class="pure-u-1">
                        <h3 class="subtitle">Alignment</h3>
                        <table class="table">
                            <tr>
                                <td>
                                    <p class="alignl">class="alignc" <span class="color-primary">(text-align: left)</span></p>
                                </td>
                                <td>
                                    <p class="alignc">class="alignc" <span class="color-primary">(text-align: center)</span></p>
                                </td>
                                <td>
                                    <p class="alignr">class="alignr" <span class="color-primary">(text-align: right)</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <p class="alignj">US President Barack Obama has officially nominated Federal Reserve vice-chair Janet Yellen to be the next head of the US central bank.He called her one of the nation's foremost economists and policy makers.Ms Yellen said if confirmed by the Senate she would do her utmost "to promote maximum employment, stable prices and a stable financial system".She said more needed to be done to strengthen the US economy although progress had been made recently. <span class="color-primary">(text-align: justify)</span></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="pure-g">
                    <div class="pure-u-1">
                        <h3 class="subtitle">List</h3>
                    </div>
                    <div class="pure-u-1-4">
                        <p class="lead">Definition Lists</p>
                        <ol>
                            <li>list item 1
                                <ol>
                                    <li>list item 1-1</li>
                                    <li>list item 1-2</li>
                                </ol></li>
                            <li>list item 2
                                <ol>
                                    <li>list item 2-1</li>
                                    <li>list item 2-2</li>
                                </ol>
                            </li>
                            <li>list item 3</li>
                            <li>list item 4</li>
                        </ol>
                    </div>
                    <div class="pure-u-1-4">
                        <p class="lead">Ordered List</p>
                        <ol class="ordered">
                            <li>list item 1
                                <ol>
                                    <li>list item 1-1</li>
                                    <li>list item 1-2</li>
                                </ol>
                            </li>
                            <li>list item 2
                                <ol>
                                    <li>list item 2-1</li>
                                    <li>list item 2-2</li>
                                </ol>
                            </li>
                            <li>list item 3</li>
                            <li>list item 4</li>
                        </ol>
                    </div>
                    <div class="pure-u-1-4">
                        <p class="lead">Unordered List</p>
                        <ol class="unordered">
                            <li>list item 1
                                <ol>
                                    <li>list item 1-1</li>
                                    <li>list item 1-2</li>
                                </ol>
                            </li>
                            <li>list item 2
                                <ol>
                                    <li>list item 2-1</li>
                                    <li>list item 2-2</li>
                                </ol>
                            </li>
                            <li>list item 3</li>
                            <li>list item 4</li>
                        </ol>
                    </div>
                    <div class="pure-u-1-4">
                        <p class="lead">Description</p>
                        <dl>
                            <dt>list item 1</dt>
                                <dd>list item 1 description</dd>
                            <dt>list item 2</dt>
                                <dd>list item 2 description</dd>
                            <dt>list item 3</dt>
                                <dd>list item 3 description</dd>
                            <dt>list item 4</dt>
                                <dd>list item 4 description</dd>
                        </dl>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="pure-g">
                    <div class="pure-u-1">
                        <h3 class="subtitle">Progress bar</h3>
                        <div class="progress">
                            <div class="bar" style="width: 20%"></div>
                        </div>
                        <div class="progress active box-margin">
                            <div class="bar" style="width: 60%"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="pure-g">
                    <div class="pure-u-1">
                        <h3 class="subtitle">Code style</h3>
                        <code>
                            <ol>
                                <li>
                                    <div class="tab"> &lt;<span class="element">div</span> <span class="tag">id</span>="<span class="attr">slides</span>" <span class="tag">class</span>="<span class="attr">carousel</span>"&gt; </div>
                                </li>
                                <li>
                                    <div class="tab-1"> &lt;<span class="element">img</span> <span class="tag">src</span>="/images/billboard/slide-1.jpg" <span class="tag">width</span>="100%"&gt; </div>
                                </li>
                                <li>
                                    <div class="tab-1"> &lt;<span class="element">img</span> <span class="tag">src</span>="/images/billboard/slide-2.jpg" <span class="tag">width</span>="100%"&gt; </div>
                                </li>
                                <li>
                                    <div class="tab-1"> &lt;<span class="element">img</span> <span class="tag">src</span>="/images/billboard/slide-3.jpg" <span class="tag">width</span>="100%"&gt; </div>
                                </li>
                                <li>
                                    <div class="tab-1"> &lt;<span class="element">img</span> <span class="tag">src</span>="/images/billboard/slide-4.jpg" <span class="tag">width</span>="100%"&gt; </div>
                                </li>
                                <li>
                                    <div class="tab"> &lt;<span class="element">/div</span>&gt; </div>
                                </li>
                            </ol>
                        </code>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="pure-g">
                    <div class="pure-u-1">
                        <h3 class="subtitle">Back to top</h3>
                        <div class="back-to-top position" id="back-to-top"></div>
                    </div>
                </div>
            </div>


        </article>

        <footer id="footer">{{footer}}</footer>
    </main>
</div>



<!-- Add your template content here -->
<div class="template"></div>
<!-- script link here -->
<div id="script">
    <script src="/js/common.js"></script>
</div>
</body>
</html>