/* Layout */

/* link */
a {
  color: #666666;
  text-decoration: none;
  @include transition(all 0.2s ease-in-out);
  &:hover,
  &:focus,
  &:active,
  &.active {
    color: #00bbd7;
  }
}


/* clear */
.clearfix {
  @include clearfix();
}
.clearboth {
  font: 0px/0px sans-serif;
  clear: both;
  visibility: hidden;
  display: block;
}


/* float */
.floatl {
  float: left;
}
.floatr {
  float: right;
}
.floatn {
  float: none;
}


/* text align */
.textl {
  text-align: left;
}
.textr {
  text-align: right;
}
.textc {
  text-align: center;
}
.textj {
  text-align: justify;
}



/* hide and show */
.hidden {
  display: none;
  visibility: hidden;
}
.shown {
  display: block;
  visibility: visible;
}



/* margin */
.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt25{margin-top: 25px;}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 40px;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}
.mb30{margin-bottom: 30px;}
.mb40{margin-bottom: 40px;}
.mb50{margin-bottom: 40px;}



/* padding */
.pt5{padding-top: 5px;}
.pt10{padding-top: 10px;}
.pt15{padding-top: 15px;}
.pt20{padding-top: 20px;}
.pt25{padding-top: 25px;}
.pt30{padding-top: 30px;}
.pt40{padding-top: 40px;}
.pt50{padding-top: 50px;}















/* Layout */
body {
  background: url("/images/body-bg.png") repeat;
  color: #333333;
}
.wrapper, .header, .billboard, .nav, .main, .footer, header, nav, main, footer {
  width: 100%;
}
.container {
  width: $content-width;
  margin: 0 auto;
  position: relative;
  @include clearfix();
}







    /* header */
header {
  padding: 10px 0;
  border-bottom: 5px solid #12BBD5;
}
.logo {
  color: #000000;
  font-size: 3em;
  float: left;
  span {
    color: #00bbd7;
  }
}
    /* nav */
nav {
  line-height: 48px;
  .item {
    font-size: 1.2em;
    float: right;
    padding: 0 25px;
  }
}














    /* main */
main {
  .container{
    @include clearfix();
    padding: 30px 0;
  }
}
aside {
  width: 180px;
  position: fixed;

}
article {
  margin-left: 230px;
}
.search {
  width: 180px;
  height: 30px;
  padding: 0 10px;
  margin-bottom: 20px;
  outline: none;
  @include box-sizing(border-box);
  @include normal-border(15px);
  @include transition(all 0.2s ease-in-out);
  &:focus{
    border-color: #00bbd7;
    @include box-shadow(0 0 10px rgba(0, 187, 217, 0.2));
  }
}
.menu {
  a {
    font-size: 1.1em;
    border-bottom: 1px dashed $border-color;
    display: block;
    padding: 10px;
    @include text-animation();
    @include text-overflow();
  }
}








    /* footer */
footer {
  color: #ffffff;
  background: url("/images/footer-bg.png") repeat;
  border-top: 2px solid #12BBD5;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  z-index: 9999;
  .logo {
    font-size: 1.6em;
    float: left;
  }
  .submenu {
    font-size: 1.1em;
    line-height: 25px;
    float: right;
    .icon-white{
      margin-right: 5px;
    }
    a {
      color: #eee;
      margin-left: 40px;
      text-decoration: none;
      @include transition(all 0.2s ease-in-out);
      &:hover,
      &:focus,
      &:active,
      &.active {
        color: #00bbd7;
      }
      i{
        @include rotate(0deg);
        @include transition(all 0.2s ease-in-out);
      }
      &.active {
        i {
          @include rotate(270deg);
        }
      }
      &.goDown {
        i {
          @include rotate(180deg);
        }
      }
    }
  }
}