.bs-docs-example {
  @include normal-border();
  margin: 15px 0;
  padding: 40px 20px;
}


.the-icons li {
   float: left;
   width: 25%;
   line-height: 20px;
 }



#grid .row div, #grid .yui3-g div {
  background: green;
  line-height: 40px;
  height: 40px;
  text-align: center;
  color: #ffffff;
  border-left: solid 1px #000;
  border-bottom: solid 1px #000;
  font-family: arial;

  @include box-sizing(border-box);
}