<!doctype html>
<html ng-app>
  <head>
    <script src="/js/3rdparty/angular.min.js"></script>
  </head>
  <body>
    <div>
      <label>First Name:</label>
      <input type="text" ng-model="firstName" placeholder="Enter a name here">
      <hr>
      <label>Last Name:</label>
      <input type="text" ng-model="lastName" placeholder="Enter a name here">
      <hr>
      <h1>Hello {{firstName}} {{lastName || 'World'}}!</h1>
      <p>Nothing here {{'yet' + '!'}}</p>
      <p>1 + 2 = {{ 10 * 2 }}</p>
    </div>


	<div>
	    Search: <input ng-model="query">
Sort by:
<select ng-model="orderProp">
  <option value="name">Alphabetical</option>
  <option value="age">Newest</option>
</select>


<ul class="phones" ng-controller="PhoneListCtrl">
  <li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
    {{phone.name}}
    <p>{{phone.snippet}}</p>
  </li>
</ul>
	</div>

	<script>
		function PhoneListCtrl($scope) {
		  $scope.phones = [
		    {
		    	"name": "Nexus S",
		    	"number": "2313541564"
		 	},
		    {
		    	"name": "Motorola XOOM™ with Wi-Fi",
		    	"number": "The Next, Next Generation tablet."
		 	},
		    {
		    	"name": "MOTOROLA XOOM™",
		    	"number": "The Next, Next Generation tablet."
		    }
		  ];

  		  $scope.orderProp = 'age';
		}
	</script>
  </body>
</html>


