<!DOCTYPE html>
<!--[if IEMobile 7 ]>    <html class="no-js iem7" ng-app> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js" ng-app  ng-controller="pageCtrl"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>About | Examples | AKQA</title>
    <meta name="author" content="AKQA Shanghai technology Team" />
    <meta name="copyright" content="AKQA Inc." />

    <meta name="keywords" content="AKQA" />
    <meta name="description" content="AKQA is an independent, ideas-led agency and we work with the world’s leading consumer brands." />


    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="cleartype" content="on">
    <meta name="msapplication-TileImage" content="/images/touch/apple-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#333333">
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />


    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/touch/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/touch/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/touch/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/touch/apple-touch-icon-57x57-precomposed.png">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <!-- CSS link here -->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>


<!-- hidden input -->
<div class="hidden-input">
    <input type="hidden" value="">
    <input type="hidden" value="">
</div>
<!-- html5 -->
<div class="wrapper">
    <header>
        <div class="container clearfix">
            <a href="/" class="logo">Frame<span>Work</span></a>
            <nav>
                <a ng-repeat="nav in navs" href="{{nav.link}}" class="item">{{nav.name}}</a>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <aside>
                <input type="text" ng-model="search.title" placeholder="search the ex." class="search">
                <ul class="menu">
                    <li ng-repeat="page in pages | filter:search:strict">
                        <a href="{{page.link}}" title="{{page.title}}">{{page.title}}</a>
                    </li>
                </ul>
            </aside>
            <article>
                <ul class="breadcrumbs">
                    <li><a href="##">{{crumbFirst}}</a> <em class="divider">/</em></li>
                    <li><a href="##" class="active">{{crumbSecond}}</a></li>
                </ul>
                <div id="page-content">
                    <h1 class="title">{{submenuOverview}}</h1>
                    <div>
                        About us
                    </div>
                </div>
            </article>
        </div>
    </main>

    <footer id="footer">
        <div class="container">
            <div class="logo">Frame<span>Work</span></div>
            <div class="submenu">
                <a href="##" id="toOverview" class="item"><i class="icon-arrow-up icon-white"></i>{{submenuOverview}}</a>
                <a href="##" id="toCode" class="item"><i class="icon-arrow-up icon-white"></i>{{submenuCode}}</a>
                <a href="##" id="toDemo" class="item"><i class="icon-arrow-up icon-white"></i>{{submenuDemo}}</a>
                <a href="##" id="toTop" class="item"><i class="icon-arrow-up icon-white"></i>{{submenuTop}}</a>
            </div>
        </div>
    </footer>
</div>



<!-- Add your template content here -->
<div class="template"></div>
<!-- script link here -->
<div id="script">
    <script src="/js/common.js"></script>
</div>
</body>
</html>