.icon-custom {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("/images/icons.png");
  background-repeat: no-repeat;
}
.icon-custom-taobao {
  background-position: 0 0;
  width: 67px;
  height: 47px;
}