/* ==========================================================================
   variables css
   ========================================================================== */
$_code-tab-indent: 16px;

/* link */
a {
  color: $main-color;
  text-decoration: none;
  @include transition(all 0.2s ease-in-out);
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $highlight-color;
  }
  &.link {
    color: $highlight-color;
    text-decoration: underline;
  }
}



/* paragraph */
p {
  margin-bottom: $paragraph-margin;
  &:last-child {
    margin-bottom: 0;
  }
}


/* font size */
.regular {
  @include font-size($regular);
}
h1, .xxlarge, .title {
  @include font-size($xxlarge);
}
h2, .xlarge {
  @include font-size($xlarge);
}
h3, .large, .describe, .subtitle {
  @include font-size($large);
}
h4, .medium, .lead {
  @include font-size($medium);
}
h5, .small {
  @include font-size($small);
}
h6, .xsmall {
  @include font-size($xsmall);
}

.headline {
  @include font-size($xxlarge * 1.5);
  color: $highlight-color;
}
.title {
  color: $main-color;
}
.describe {
  color: $describe-color;
}
.subtitle {
  color: $stress-color;
  margin-bottom: $paragraph-margin;
}
.lead {
  color: $stress-color;
  margin-bottom: $paragraph-margin;
}





/* font color */
.color-describe {
  color: $describe-color;
}
.color-stress {
  color: $stress-color;
}
.color-primary {
  color: $primary-color;
}
.color-info {
  color: $info-color;
}
.color-success {
  color: $success-color;
}
.color-warning {
  color: $warning-color;
}
.color-error {
  color: $error-color;
}





/* clear */
.clearfix {
  @include clearfix();
}
.clearboth {
  font: 0px/0px sans-serif;
  clear: both;
  visibility: hidden;
  display: block;
}
/* float */
.floatl {
  float: left;
}
.floatr {
  float: right;
}
.floatn {
  float: none;
}
/* text align */
.alignl {
  text-align: left;
}
.alignr {
  text-align: right;
}
.alignc {
  text-align: center;
}
.alignj {
  text-align: justify;
}
/* hide and show */
.hidden {
  display: none;
  visibility: hidden;
}
.shown {
  display: block;
  visibility: visible;
}





ul, ol, dl {
  margin-bottom: $box-margin;
  &:last-child {
    margin-bottom: 0;
  }
  > ul, ol, dd {
    padding: 5px 0 5px 20px;
  }
}
ul.ordered, ol.ordered {
  li {
    list-style-type: decimal;
  }
}
ul.unordered, ol.unordered {
  li {
    list-style-type: disc;
  }
}
ul.list-inline, ol.list-inline, dl.list-inline {
  > li {
    display: inline-block;
  }
  > dt, dd {
    display: inline-block;
    padding: 0;
  }
}







code {
  display: block;
  @include border();
  background-color: $content-bg-color;
  text-align: center;
  word-break: break-all;
  padding: 20px;
  line-height: 1.6em;
  &.scrollable {
    max-height: 360px;
    overflow-y: scroll;
  }
  ol, ul {
    text-align: left;
  }
  .tag {
    color: #905fdb;
  }
  .attr {
    color: #080;
  }
  .element{
    color: #f42871;
  }
  .tab-1 {
    text-indent: $_code-tab-indent;
  }
  .tab-2 {
    text-indent: $_code-tab-indent*2;
  }
  .tab-3 {
    text-indent: $_code-tab-indent*3;
  }
  .tab-4 {
    text-indent: $_code-tab-indent*4;
  }
}






.progress {
  width: 100%;
  height: 20px;
  background-color: $content-bg-color;
  overflow: hidden;
  @include border-radius(4px);
  @include box-shadow(inset 0 1px 2px rgba(0,0,0,.1));
  .bar {
    float: left;
    width: 0;
    height: 100%;
    background-color: $primary-color;
    @include text-overflow();
    @include box-shadow(inset 0 -1px 0 rgba(0,0,0,.15));
    @include transition(width .6s ease);
  }
  &.active .bar {
    @include striped();
    @include background-size(40px 40px);
    @include animation(progress-active 2s linear infinite);
  }
}





.back-to-top {
  cursor: pointer;
  border-bottom: solid 30px $primary-color;
  border-top: solid 30px transparent;
  border-right: solid 30px transparent;
  border-left: solid 30px transparent;
  &.position{
    float: left;
    position: relative;
    bottom: 0px;
    right: 0px;
  }
}

