/* ==========================================================================
   Global Variable
   ========================================================================== */
$content-width: 100%;

$content-bg-color: #fafafa;

$box-margin: 40px;

$nav-area-margin: 10px;

$paragraph-margin: 10px;





// color
// -------------------------
$default-color:        #ffffff;
$highlight-color:      #00bbd7;

$main-color:           #666666;
$describe-color:       #cccccc;

$stress-color:         #333333;
$primary-color:        #428bca;
$info-color:           #5bc0de;
$success-color:        #5cb85c;
$warning-color:        #f0ad4e;
$error-color:          #d9534f;



// font-size
// -------------------------

$regular:   14px;
$xxlarge:   4em;
$xlarge:    2em;
$large:     1.6em;
$medium:    1.2em;
$small:     0.85em;
$xsmall:    0.75em;





// border color
// -------------------------
$border-width:      1px;
$border-color:      #dddddd;
$border-style:      solid;
$border-radius:     0px;







// Buttons
// -------------------------
$btn-default-text-color:               $stress-color;
$btn-default-bg-color:                 $default-color;
$btn-default-border-color:             darken($default-color, 25%);

$btn-primary-text-color:               $default-color;
$btn-primary-bg-color:                 $primary-color;
$btn-primary-border-color:             darken($primary-color, 5%);

$btn-info-text-color:                  $default-color;
$btn-info-bg-color:                    $info-color;
$btn-info-border-color:                darken($info-color, 5%);

$btn-success-text-color:               $default-color;
$btn-success-bg-color:                 $success-color;
$btn-success-border-color:             darken($success-color, 5%);

$btn-warning-text-color:               $default-color;
$btn-warning-bg-color:                 $warning-color;
$btn-warning-border-color:             darken($warning-color, 5%);

$btn-error-text-color:                 $default-color;
$btn-error-bg-color:                   $error-color;
$btn-error-border-color:               darken($error-color, 5%);