#back-to-top {
  position: absolute;
  bottom: 0px;
  right: 0px;
  cursor: pointer;

  border-bottom: solid 30px green;
  border-top: solid 30px transparent;
  border-right: solid 30px transparent;
  border-left: solid 30px transparent;
}
