    /* clear */
.clearfix {
	zoom: 1;
}
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden
}
.clearboth {
	font: 0px/0px sans-serif;
	clear: both;
	visibility: hidden;
	display: block;
}

    /* float */
.floatl {
	float: left;
}
.floatr {
	float: right;
}
.floatn {
	float: none;
}

    /* text align */
.textl {
	text-align: left;
}
.textr {
	text-align: right;
}
.textc {
	text-align: center;
}
.textj {
	text-align: justify;
}


    /* hide and show */
.hidden {
	display: none;
	visibility: hidden;
}
.shown {
	display: block;
	visibility: visible;
}


    /* link */
a {
  color: #0088cc;
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    color: #005580;
    text-decoration: underline;
  }
}



    /* margin */
.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt25{margin-top: 25px;}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 40px;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}
.mb30{margin-bottom: 30px;}
.mb40{margin-bottom: 40px;}
.mb50{margin-bottom: 40px;}



	/* padding */
.pt5{padding-top: 5px;}
.pt10{padding-top: 10px;}
.pt15{padding-top: 15px;}
.pt20{padding-top: 20px;}
.pt25{padding-top: 25px;}
.pt30{padding-top: 30px;}
.pt40{padding-top: 40px;}
.pt50{padding-top: 50px;}