/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */

/* body font size */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
.headline {
  font-size: 3em;
}
.title {
  font-size: 2em;
}
.describe {
  font-size: 1.5em;
}
.subtext {
  font-size: 1.4em;
}
.lead {
  font-size: 1.3em;
}





/* body copy */
p {
  margin: 0 0 $copy-margin 0;
  &:last-child {
    margin: 0;
  }
}
.text-info {
  color: $info-color;
}
.text-success {
  color: $success-color;
}
.text-warning {
  color: $warning-color;
}
.text-error {
  color: $error-color;
}




.list-lead-stlye {
  border-left: 4px solid #1BAACC;
  color: #1BAACC;
  padding-left: 10px;
}



.breadcrumbs {
  > li {
    display: inline-block;
  }
  line-height: 35px;
  padding: 0 15px;
  @include normal-border();
  @include background-linear(#ffffff, #f5f5f5);
  em{
    margin: 0 5px;
    color: #999;
  }
}




address {
  display: block;
  margin-bottom: $box-margin;
  &:last-child {
    margin: 0;
  }
}










blockquote {
  display: block;
  margin-bottom: $box-margin;
  padding: 0 0 0 15px;
  border-left: 5px solid #eeeeee;
  p {
    font-size: 1.2em;
  }
  small {
    color: #999999;
    font-size: 1em;
  }
  &.quote-right {
    margin-bottom: $box-margin;
    text-align: right;
    padding: 0 15px 0 0;
    border-left: none;
    border-right: 5px solid #eeeeee;
  }
  &:last-child {
    margin: 0;
  }
}








dl {
  margin-bottom: $box-margin;
  dt {
    font-weight: bold;
  }
  dd {
    margin: 0 0 0 20px;
  }
  &.dl-horizontal dt {
    float: left;
    width: 160px;
    text-align: right;
    clear: left;
  }
  &.dl-horizontal dd {
    margin: 0 0 0 180px;
  }
  &:last-child {
    margin: 0;
  }
}








ul, ol {
  margin-bottom: $box-margin;
  &:last-child {
    margin: 0;
  }
}
ol.list-inline li, ul.list-inline li {
  display: inline-block;
}








.btn {
  @include button-variant($btn-default-text-color, $btn-default-bg-color, $btn-default-border-color);
}
.btn-info {
  @include button-variant($btn-info-text-color, $btn-info-bg-color, $btn-info-border-color);
}
.btn-success {
  @include button-variant($btn-success-text-color, $btn-success-bg-color, $btn-success-border-color);
}
.btn-warning {
  @include button-variant($btn-warning-text-color, $btn-warning-bg-color, $btn-warning-border-color);
}
.btn-error {
  @include button-variant($btn-error-text-color, $btn-error-bg-color, $btn-error-border-color);
}







.table {
  width: 100%;
  @include normal-border();
  caption {
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
    font-size: 1.2em;
  }
  th {
    font-weight: bold;
  }
  th, td {
    padding: 10px;
    vertical-align: middle;
  }
  td {
    @include normal-border();
    border-right: none;
    border-bottom: none;
  }
  &.table-hover {
    tbody {
      tr:hover {
        background-color: #eeeeee;
      }
    }
  }
}




code {
  display: block;
  @include normal-border();
  box-shadow: inset 33px 0 0 #fbfbfc, inset 34px 0 0 #ececf0;
  &.scrollable {
    max-height: 360px;
    overflow-y: scroll;
  }
}
ol.linenums {
  padding: 10px 0 10px 42px;
  list-style-type: decimal-leading-zero;
  list-style-position: outside;
  color: #bebec5;
  li {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    line-height: 20px;
    > div {
      word-break: break-all;
    }
    .tag {
      color: #1e347b;
    }
    .pln {
      color: #666666;
    }
    .tab-1 {
      text-indent: 16px;
    }
    .tab-2 {
      text-indent: 32px;
    }
    .tab-3 {
      text-indent: 48px;
    }
  }
}