/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */

/* body font size */

.headline {
  font-size: 6em;
  color: $highlight-color;
}
.title {
  font-size: 4em;
  color: $main-color;
}
.subtitle {
  font-size: 1.6em;
  color: $fore-color;
  margin-bottom: 15px;
}
.describe {
  font-size: 1.4em;
  color: $describe-color;
  padding: $box-padding;
}
.lead {
  font-size: 1.3em;
  color: $fore-color;
  margin-bottom: 15px;
}






/* body copy */
p {
  margin: 0 0 $copy-margin 0;
  &:last-child {
    margin: 0;
  }
}
.text-info {
  color: $info-color;
}
.text-success {
  color: $success-color;
}
.text-warning {
  color: $warning-color;
}
.text-error {
  color: $error-color;
}




.list-lead-stlye {
  border-left: 4px solid #1BAACC;
  color: #1BAACC;
  padding-left: 10px;
}



.breadcrumbs {
  > li {
    display: inline-block;
  }
  line-height: 35px;
  padding: 0 15px;
  @include normal-border();
  @include background-linear(#ffffff, #f5f5f5);
  em{
    margin: 0 5px;
    color: #999;
  }
}




address {
  display: block;
  margin-bottom: $box-margin;
  &:last-child {
    margin: 0;
  }
}










blockquote {
  display: block;
  margin-bottom: $box-margin;
  padding: 0 0 0 15px;
  border-left: 5px solid #eeeeee;
  p {
    font-size: 1.2em;
  }
  small {
    color: #999999;
    font-size: 1em;
  }
  &.quote-right {
    margin-bottom: $box-margin;
    text-align: right;
    padding: 0 15px 0 0;
    border-left: none;
    border-right: 5px solid #eeeeee;
  }
  &:last-child {
    margin: 0;
  }
}








dl {
  margin-bottom: $box-margin;
  dt {
    font-weight: bold;
  }
  dd {
    margin: 0 0 0 20px;
  }
  &.dl-horizontal dt {
    float: left;
    width: 160px;
    text-align: right;
    clear: left;
  }
  &.dl-horizontal dd {
    margin: 0 0 0 180px;
  }
  &:last-child {
    margin: 0;
  }
}







.btn {
  @include button-variant($btn-default-text-color, $btn-default-bg-color, $btn-default-border-color);
}
.btn-info {
  @include button-variant($btn-info-text-color, $btn-info-bg-color, $btn-info-border-color);
}
.btn-success {
  @include button-variant($btn-success-text-color, $btn-success-bg-color, $btn-success-border-color);
}
.btn-warning {
  @include button-variant($btn-warning-text-color, $btn-warning-bg-color, $btn-warning-border-color);
}
.btn-error {
  @include button-variant($btn-error-text-color, $btn-error-bg-color, $btn-error-border-color);
}







.table {
  width: 100%;
  @include normal-border();
  caption {
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
    font-size: 1.2em;
  }
  th {
    font-weight: bold;
  }
  th, td {
    padding: 10px;
    vertical-align: middle;
  }
  td {
    @include normal-border();
    border-right: none;
    border-bottom: none;
  }
  &.table-hover {
    tbody {
      tr:hover {
        background-color: #eeeeee;
      }
    }
  }
}











ul, ol {
  margin-bottom: $box-margin;
  &:last-child {
    margin: 0;
  }
}
ol.list-inline li, ul.list-inline li {
  display: inline-block;
}
ol.linenums {
  li {
    list-style-type: decimal-leading-zero;
    list-style-position: outside;
  }
}




code {
  display: block;
  @include normal-border();
  background-color: $content-bg-color;
  text-align: center;
  word-break: break-all;
  padding: 20px;
  line-height: 1.6em;
  &.scrollable {
    max-height: 360px;
    overflow-y: scroll;
  }
  ol {
    text-align: left;
  }
  .tag {
    color: #008;;
  }
  .pln {
    color: #000;
  }
  .attr {
    color: #080;
  }
  .tab-1 {
    text-indent: 16px;
  }
  .tab-2 {
    text-indent: 32px;
  }
  .tab-3 {
    text-indent: 48px;
  }
  .tab-4 {
    text-indent: 64px;
  }
}