img.responsive {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 480px) {
}
@media screen and (min-width: 481px) {
}



/*@media screen and (min-width: 421px) and (max-width: 680px) {
  .container {
    width: 90%;
  }
}*/