<!DOCTYPE html>
<!--[if IEMobile 7 ]>    <html class="no-js iem7" ng-app> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js" ng-app  ng-controller="pageCtrl"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>About | Simple CSS | AKQA</title>
    <meta name="author" content="AKQA Shanghai technology Team" />
    <meta name="copyright" content="AKQA Inc." />

    <meta name="keywords" content="AKQA" />
    <meta name="description" content="AKQA is an independent, ideas-led agency and we work with the world’s leading consumer brands." />


    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="cleartype" content="on">
    <meta name="msapplication-TileImage" content="/images/touch/apple-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#333333">
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />


    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/touch/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/touch/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/touch/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/touch/apple-touch-icon-57x57-precomposed.png">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <!-- CSS link here -->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>


<!-- hidden input -->
<div class="hidden-input">
    <input type="hidden" value="">
    <input type="hidden" value="">
</div>


<!-- html5 -->
<div class="wrapper">

    <aside>
    </aside>

    <nav>
        <a href="/simple/about" class="logo" title="Simple CSS">Simple</a>
        <input type="text" ng-model="search.name" placeholder="search the ex." class="search">
        <ul>
            <li ng-repeat="page in pages | filter:search:strict">
                <a href="{{page.link}}" title="{{page.name}}">{{page.name}}</a>
            </li>
        </ul>
    </nav>

    <main>
        <header>
            <div>simple</div>
        </header>

        <article>
            <div id="page-content">
                <div class="example-box" id="{{submenuOverview}}">
                    <h1 class="title">{{submenuOverview}}</h1>
                    <div>about carousel</div>
                </div>
                <div class="example-box" id="{{submenuCode}}">
                    <h3 class="title">{{submenuCode}}</h3>
                    <code>
                        <ol class="linenums">
                            <li>
                                <div class="tag tab"> &lt;div id="slides" class="carousel"&gt; </div>
                            </li>
                            <li>
                                <div class="pln tab-1"> &lt;img src="/images/billboard/slide-1.jpg" width="100%"&gt; </div>
                            </li>
                            <li>
                                <div class="pln tab-1"> &lt;img src="/images/billboard/slide-2.jpg" width="100%"&gt; </div>
                            </li>
                            <li>
                                <div class="pln tab-1"> &lt;img src="/images/billboard/slide-3.jpg" width="100%"&gt; </div>
                            </li>
                            <li>
                                <div class="pln tab-1"> &lt;img src="/images/billboard/slide-4.jpg" width="100%"&gt; </div>
                            </li>
                            <li>
                                <div class="tag tab"> &lt;/div&gt; </div>
                            </li>
                        </ol>
                    </code>
                </div>
                <div class="example-box" id="{{submenuDemo}}">
                    <h3 class="title">{{submenuDemo}}</h3>
                    <div id="slides" class="carousel">
                        <img src="/images/billboard/slide-1.jpg" alt="slide-1.jpg" width="100%">
                        <img src="/images/billboard/slide-2.jpg" alt="slide-2.jpg" width="100%">
                        <img src="/images/billboard/slide-3.jpg" alt="slide-3.jpg" width="100%">
                        <img src="/images/billboard/slide-4.jpg" alt="slide-4.jpg" width="100%">
                    </div>
                </div>
            </div>
        </article>

        <footer id="footer">
            @ 2013 AKQA SH TECHNOLOGY
        </footer>
    </main>
</div>



<!-- Add your template content here -->
<div class="template"></div>
<!-- script link here -->
<div id="script">
    <script src="/js/common.js"></script>
</div>
</body>
</html>